[Unit]
Description=Osu Pi Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/osu
ExecStart=/bin/bash -lc 'set -a; [ -f ./.env.local ] && . ./.env.local; set +a; exec /usr/bin/python3 -m pi.server'
Restart=always
RestartSec=2
User=pi
Environment=FLASK_ENV=production

[Install]
WantedBy=multi-user.target
